body{
    font-family: arial;
    background-color: #494949;
}

header{
    color: white;
    text-align: center;
}


img {
    width: 100px;
}


/* article{
    background-color: #00D9FF;
    padding: 50px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    margin:  0 auto;
}

button{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

a{
    color: white;
    text-decoration: none;
}

input {
    border: none;
    padding: 10px;
    border-radius: 5px;
} */